h4{
    font-size: 1.1em;
}

.search-container {
    margin-top: 3rem;
    padding: 2rem;
    border-radius: 10px;
}

.search-container-box {
    margin: 1rem 0rem;
    border-radius: 30px;
}

.group-by{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#btn-continent , #btn-lenguage {
    background-color: #F582AE;
    border: none;
    border-radius: 30px;
    width: 100%;
}

#btn-continent:focus , #btn-lenguage:focus {
    background-color: #ff4b90;
}

